.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-box input:focus {
    border-color: #1a73e8;
    outline: none;
}

.forgot-pass {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.forgot-pass a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #d3d3d3; 
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed; 
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.form-active button {
    background-color: #135abc; 
    cursor: pointer; 
}

button:active {
    background-color: #1d66cd; 
}

button:hover {
    background-color: #7ba2ca; 
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 5px;
    font-size: 14px;
}